<ion-content padding class="login auth-page">

  <div class="auth-content">
    <!-- Logo -->
    <div padding-horizontal text-center>
      <div class="logo"></div>
      <h3 no-margin>
        <ion-text color="light" class="fw700">
          <ion-text color="secondary">Registro</ion-text>
        </ion-text>
      </h3>
    </div>

    <!-- Register form -->
    <form [formGroup]="onRegisterForm" class="list-form">

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person" item-start></ion-icon>
          Nombre
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="nombre"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="onRegisterForm.get('nombre').touched && onRegisterForm.get('nombre').hasError('required')">
        <ion-text color="warning">
          El campo es requerido
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person" item-start></ion-icon>
          Apellido
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="apellido"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="onRegisterForm.get('apellido').touched && onRegisterForm.get('apellido').hasError('required')">
        <ion-text color="warning">
          El campo es requerido
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Correo
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="correo"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="onRegisterForm.get('correo').touched && onRegisterForm.get('correo').hasError('required')">
        <ion-text color="warning">
          El campo es requerido
        </ion-text>
      </p>
      <p ion-text class="text08"
        *ngIf="onRegisterForm.get('correo').touched && onRegisterForm.get('correo').hasError('email')">
        <ion-text color="warning">
          El correo no es valido
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="call" item-start></ion-icon>
          Telefono
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="telefono"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="onRegisterForm.get('telefono').touched && onRegisterForm.get('telefono').hasError('required')">
        <ion-text color="warning">
          El campo es requerido
        </ion-text>
      </p>


      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person" item-start></ion-icon>
          Usuario
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="usuario"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="onRegisterForm.get('usuario').touched && onRegisterForm.get('usuario').hasError('required')">
        <ion-text color="warning">
          El campo es requerido
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Clave
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="clave"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08"
        *ngIf="onRegisterForm.get('clave').touched && onRegisterForm.get('clave').hasError('required')">
        <ion-text color="warning">
          El campo es requerido
        </ion-text>
      </p>
    </form>

    <div margin-top>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="signUp()"
        [disabled]="!onRegisterForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        Registrar
      </ion-button>

      <p text-center>
        <ion-text color="light">
          Or Sign Up with:
        </ion-text>
      </p>

      <ion-grid class="btn-group">
        <ion-row>
          <ion-col size="4">
            <ion-button shape="round" expand="full" fill="outline" color="tertiary">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" fill="outline" color="tertiary">
              <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" fill="outline" color="tertiary">
              <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span (click)="goToLogin()" tappable>
        <ion-text color="light">
          <strong>I have an account!</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>